In [1]:
import pandas as pd
import numpy as np

## downloading the dataset

In [2]:
ball_by_ball_df = pd.read_csv("/home/thibault/code/patrickevans29/ipl_prediction_model/raw_data/IPL_Ball_by_Ball_2008_2022.csv")

## size and values count

In [3]:
ball_by_ball_df.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

#### shape and type of the dataset

In [4]:
ball_by_ball_df.shape

(225954, 17)

In [5]:
ball_by_ball_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

#### counting every batter, bowler and non-striker

In [6]:
ball_by_ball_df["batter"].nunique()

605

In [7]:
ball_by_ball_df["bowler"].nunique()

472

In [8]:
ball_by_ball_df["non-striker"].nunique()

595

#### drop duplicates

In [9]:
ball_by_ball_df.duplicated().sum() ## no duplicate here

0

#### counting the NaN values

In [10]:
ball_by_ball_df.isnull().sum().sort_values(ascending=False)

fielders_involved    217966
kind                 214803
player_out           214803
extra_type           213905
ID                        0
extras_run                0
isWicketDelivery          0
non_boundary              0
total_run                 0
batsman_run               0
innings                   0
non-striker               0
bowler                    0
batter                    0
ballnumber                0
overs                     0
BattingTeam               0
dtype: int64

##### innings

In [11]:
ball_by_ball_df["innings"].value_counts() ## 5 and 6 innings ?

innings
1    116883
2    108910
3        77
4        72
5         8
6         4
Name: count, dtype: int64

##### overs

In [12]:
ball_by_ball_df["overs"].value_counts()

overs
0     12085
1     11935
2     11803
3     11773
4     11766
5     11720
6     11671
7     11651
8     11608
9     11578
10    11507
11    11480
12    11452
13    11355
14    11259
15    11093
16    10961
17    10650
18    10001
19     8606
Name: count, dtype: int64

In [13]:
ball_by_ball_df["overs"] = ball_by_ball_df["overs"] + 1 ## assign the good value to overs

In [14]:
ball_by_ball_df["overs"].value_counts() ## verify the values

overs
1     12085
2     11935
3     11803
4     11773
5     11766
6     11720
7     11671
8     11651
9     11608
10    11578
11    11507
12    11480
13    11452
14    11355
15    11259
16    11093
17    10961
18    10650
19    10001
20     8606
Name: count, dtype: int64

##### ballnumber

In [15]:
ball_by_ball_df["ballnumber"].value_counts() ## OK

ballnumber
1     36599
2     36507
3     36413
4     36322
5     36201
6     36083
7      6585
8      1055
9       171
10       18
Name: count, dtype: int64

##### batter

In [16]:
ball_by_ball_df["batter"].nunique()

605

In [17]:
ball_by_ball_df["batter"].unique()

array(['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal',
       'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy',
       'WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller',
       'V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror',
       'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel',
       'JR Hazlewood', 'Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda',
       'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'PK Garg',
       'Abhishek Sharma', 'RA Tripathi', 'AK Markram', 'N Pooran',
       'Washington Sundar', 'R Shepherd', 'J Suchith', 'B Kumar',
       'Umran Malik', 'JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',
       'MA Agarwal', 'LS Livingstone', 'JM Sharma', 'PN Mankad',
       'PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant', 'SN Khan',
       'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav',
       'Ishan Kishan', 'RG Sharma', 'D Brevis', 'Tilak Varma', 'TH David',
       'Ramandeep Singh', 'DR Sams', 'RD Gaikwad', 'DP Conway', 'MM Ali',
       'N Jagadeesan', 'AT Rayudu', 'MS Dhoni', 'Simarjeet Singh',
       'MJ Santner', 'R Tewatia', 'Rashid Khan', 'VR Iyer', 'N Rana',
       'A Tomar', 'SS Iyer', 'SW Billings', 'AD Russell', 'RK Singh',
       'SP Narine', 'UT Yadav', 'KS Williamson', 'T Stubbs',
       'R Sanjay Yadav', 'JJ Bumrah', 'Lalit Yadav', 'PBB Rajapaksa',
       'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada',
       'Arshdeep Singh', 'JDS Neesham', 'A Badoni', 'JO Holder',
       'Mohsin Khan', 'Avesh Khan', 'S Dube', 'AM Rahane',
       'Shashank Singh', 'M Jansen', 'Mohammed Siraj', 'RV Uthappa',
       'DJ Bravo', 'M Theekshana', 'Mukesh Choudhary', 'HR Shokeen',
       'HE van der Dussen', 'KS Bharat', 'KS Sharma', 'SP Jackson',
       'PJ Cummins', 'TG Southee', 'KA Pollard', 'M Ashwin',
       'K Kartikeya', 'RP Meredith', 'RV Patel', 'A Nortje', 'KK Ahmed',
       'Kartik Tyagi', 'Fazalhaq Farooqi', 'B Indrajith', 'AJ Finch',
       'AS Roy', 'Shivam Mavi', 'Harshit Rana', 'SA Yadav',
       'B Sai Sudharsan', 'Mandeep Singh', 'SA Abbott', 'S Gopal',
       'RA Jadeja', 'D Pretorius', 'PJ Sangwan', 'LH Ferguson',
       'AS Joseph', 'KK Nair', 'DJ Mitchell', 'A Manohar',
       'M Prasidh Krishna', 'SS Prabhudessai', 'MK Pandey', 'JD Unadkat',
       'Anuj Rawat', 'Yash Dayal', 'NT Ellis', 'VG Arora', 'Ravi Bishnoi',
       'CV Varun', 'V Shankar', 'P Simran Singh', 'OF Smith', 'FA Allen',
       'TS Mills', 'Aman Hakim Khan', 'YS Chahal', 'KR Sen', 'Akash Deep',
       'K Gowtham', 'Rasikh Salam', 'CJ Jordan', 'DJ Willey',
       'SE Rutherford', 'Abdul Samad', 'TL Seifert', 'Mustafizur Rahman',
       'Navdeep Saini', 'Anmolpreet Singh', 'RA Bawa', 'NM Coulter-Nile',
       'EJG Morgan', 'Shakib Al Hasan', 'AB de Villiers', 'DT Christian',
       'TK Curran', 'SK Raina', 'SS Tiwary', 'J Yadav', 'SPD Smith',
       'CH Morris', 'C Sakariya', 'JJ Roy', 'S Kaul', 'KA Jamieson',
       'AF Milne', 'CH Gayle', 'KM Jadhav', 'GD Phillips',
       'Sandeep Sharma', 'SM Curran', 'DL Chahar', 'T Shamsi',
       'GHS Garton', 'MC Henriques', 'K Yadav', 'PP Chawla',
       'Mohammad Nabi', 'Sachin Baby', 'DJ Malan', 'Mohammed Shami',
       'Virat Singh', 'KL Nagarkoti', 'Harbhajan Singh',
       'Mujeeb Ur Rahman', 'JA Richardson', 'CR Woakes', 'S Nadeem',
       'BA Stokes', 'CA Lynn', 'SP Goswami', 'Gurkeerat Singh',
       'AT Carey', 'JC Archer', 'SS Cottrell', 'T Banton', 'M Vijay',
       'SR Watson', 'P Dubey', 'JR Philippe', 'T Natarajan', 'I Udana',
       'VR Aaron', 'TU Deshpande', 'Imran Tahir', 'AS Rajpoot',
       'DW Steyn', 'NS Naik', 'AJ Tye', 'JL Pattinson', 'DS Kulkarni',
       'MJ McClenaghan', 'C Munro', 'KMA Paul', 'A Mishra', 'I Sharma',
       'MJ Guptill', 'Basil Thampi', 'YK Pathan', 'PA Patel',
       'C de Grandhomme', 'STR Binny', 'IS Sodhi', 'CA Ingram',
       'H Klaasen', 'P Negi', 'BB Sran', 'AJ Turner', 'DR Shorey',
       'CR Brathwaite', 'AD Nath', 'GC Viljoen', 'Y Prithvi Raj',
       'KC Cariappa', 'BCJ Cutting', 'RK Bhui', 'JL Denly', 'SD Lad',
       'HF Gurney', 'Yuvraj Singh', 'MM Sharma', 'GH Vihari',
       'S Lamichhane', 'P Ray Barman', 'M Markande',
       'JPR Scantlebury-Searles', 'MK Tiwary', 'AD Hales',
       'Anureet Singh', 'DJM Short', 'P Chopra', 'JP Duminy', 'NV Ojha',
       'BB McCullum', 'LE Plunkett', 'MG Johnson', 'CJ Anderson',
       'G Gambhir', 'B Laughlin', 'A Dananjaya', 'B Stanlake',
       'R Vinay Kumar', 'MA Wood', 'LMP Simmons', 'KV Sharma', 'IR Jaggi',
       'Bipul Sharma', 'SL Malinga', 'Vishnu Vinod', 'TM Head',
       'MN Samuels', 'Z Khan', 'SE Marsh', 'Swapnil Singh', 'DR Smith',
       'JP Faulkner', 'Ankit Soni', 'P Kumar', 'MM Patel', 'HM Amla',
       'S Aravind', 'S Badree', 'A Choudhary', 'IK Pathan', 'AR Bawne',
       'DM Bravo', 'AP Tare', 'AD Mathews', 'Ankit Sharma', 'R Bhatia',
       'A Zampa', 'AB Dinda', 'Iqbal Abdulla', 'ER Dwivedi', 'R Sathish',
       'SB Jakati', 'F Behardien', 'KJ Abbott', 'UT Khawaja', 'GJ Bailey',
       'NLTC Perera', 'M Morkel', 'PV Tambe', 'S Kaushik', 'UBT Chand',
       'A Nehra', 'PSP Handscomb', 'A Ashish Reddy', 'Parvez Rasool',
       'JA Morkel', 'KP Pietersen', 'KW Richardson', 'P Sahu', 'D Wiese',
       'MEK Hussey', 'MA Starc', 'Azhar Mahmood', 'BE Hendricks',
       'RS Bopara', 'J Botha', 'GB Hogg', 'Karanveer Singh',
       'RN ten Doeschate', 'NJ Maddinson', 'V Sehwag', 'J Theron',
       'DJ Muthuswami', 'MS Bisla', 'RR Rossouw', 'AN Ahmed', 'RG More',
       'DJG Sammy', 'CM Gautam', 'DJ Hussey', 'PP Ojha', 'BJ Hodge',
       'Y Venugopal Rao', 'S Anirudha', 'YV Takawale', 'VH Zol', 'S Rana',
       'KK Cooper', 'VS Malik', 'M de Lange', 'Shivam Sharma',
       'WD Parnell', 'LRPL Taylor', 'R Shukla', 'DH Yagnik', 'M Manhas',
       'LR Shukla', 'L Balaji', 'JH Kallis', 'BR Dunk', 'CA Pujara',
       'R Rampaul', 'AM Nayar', 'S Badrinath', 'R Dravid', 'CL White',
       'BB Samantray', 'P Dogra', 'LJ Wright', 'RV Gomez',
       'DPMD Jayawardene', 'B Chipli', 'BJ Rohrer', 'AC Gilchrist',
       'SK Trivedi', 'RE van der Merwe', 'DB Das', 'SMSM Senanayake',
       'SR Tendulkar', 'MC Juneja', 'AB Agarkar', 'LA Pomersbach',
       'A Mithun', 'M Kartik', 'Harmeet Singh', 'P Awana', 'UA Birla',
       'M Rawat', 'K Upadhyay', 'MS Gony', 'KC Sangakkara', 'R McLaren',
       'PA Reddy', 'BMAJ Mendis', 'OA Shah', 'TL Suman', 'BAW Mendis',
       'R Sharma', 'S Narwal', 'B Lee', 'A Mukund', 'TM Dilshan',
       'KB Arun Karthik', 'J Syed Mohammad', 'X Thalaivan Sargunam',
       'AG Murtaza', 'IC Pandey', 'A Chandila', 'S Sreesanth', 'SW Tait',
       'PC Valthaty', 'AD Mascarenhas', 'RT Ponting', 'AB McDonald',
       'RJ Harris', 'DB Ravi Teja', 'MDKJ Perera', 'AL Menaria',
       'Sunny Gupta', 'JEC Franklin', 'RP Singh', 'M Muralitharan',
       'P Parameswaran', 'JD Ryder', 'MJ Clarke', 'SC Ganguly',
       'AP Majumdar', 'CJ Ferguson', 'Harpreet Singh', 'SD Chitnis',
       'N Saini', 'HH Gibbs', 'Y Nagar', 'MD Mishra', 'AC Thomas',
       'DJ Harris', 'AA Jhunjhunwala', 'AUK Pathan', 'RJ Peterson',
       'AA Chavan', 'V Pratap Singh', 'RE Levi', 'DL Vettori',
       'KMDN Kulasekara', 'AC Blizzard', 'DJ Jacobs', 'CJ McKay',
       'M Kaif', 'BA Bhatt', 'RR Bhatkal', 'A Singh', 'DAJ Bracewell',
       'DE Bollinger', 'Y Gnaneswara Rao', 'JJ van der Wath',
       'CK Langeveldt', 'S Sohal', 'FY Fazal', 'PR Shah', 'JDP Oram',
       'SK Warne', 'ND Doshi', 'S Sriram', 'JR Hopes', 'TR Birt',
       'MJ Lumb', 'A Symonds', 'MV Boucher', 'AS Raut', 'SJ Srivastava',
       'M Klinger', 'RR Powar', 'Sunny Singh', 'L Ablish', 'I Malhotra',
       'GC Smith', 'SB Wagh', 'NL McCullum', 'B Akhil', 'TD Paine',
       'JE Taylor', 'VVS Laxman', 'BJ Haddin', 'Joginder Sharma',
       'S Randiv', 'SA Asnodkar', 'AG Paunikar', 'R Ninan',
       'NJ Rimmington', 'SB Styris', 'ML Hayden', 'CRD Fernando',
       'Anirudh Singh', 'B Sumanth', 'A Kumble', 'WPUJC Vaas',
       'PD Collingwood', 'AC Voges', 'Pankaj Singh', 'C Madan',
       'KP Appanna', 'ST Jayasuriya', 'AP Dole', 'MF Maharoof',
       'AB Barath', 'T Thushara', 'RS Sodhi', 'AA Bilakhia',
       'Jaskaran Singh', 'K Goel', 'KAJ Roach', 'S Ladda', 'DP Nannes',
       'JM Kemp', 'DR Martyn', 'RS Gavaskar', 'SE Bond', 'A Uniyal',
       'S Tyagi', 'YA Abdulla', 'Mohammad Ashraful', 'SM Katich',
       'WA Mota', 'RJ Quiney', 'NK Patel', 'T Henderson', 'Yashpal Singh',
       'SS Shaikh', 'Mashrafe Mortaza', 'C Nanda', 'Shoaib Ahmed',
       'AN Ghosh', 'LA Carseldine', 'MN van Wyk', 'SM Harwood',
       'L Ronchi', 'RR Raje', 'W Jaffer', 'D du Preez', 'R Bishnoi',
       'TM Srivastava', 'GR Napier', 'FH Edwards', 'SB Bangar',
       'A Flintoff', 'T Kohli', 'A Chopra', 'Kamran Khan', 'S Vidyut',
       'CK Kapugedera', 'Kamran Akmal', 'Sohail Tanvir', 'Mohammad Asif',
       'VY Mahesh', 'GD McGrath', 'AS Yadav', 'Shahid Afridi',
       'SP Fleming', 'SM Pollock', 'Salman Butt', 'Umar Gul',
       'Misbah-ul-Haq', 'LPC Silva', 'M Ntini', 'VS Yeligati',
       'Mohammad Hafeez', 'DJ Thornely', 'H Das', 'DNT Zoysa',
       'J Arunkumar', 'DT Patil', 'Abdur Razzak', 'Shoaib Malik',
       'Shoaib Akhtar', 'PM Sarvesh Kumar', 'DP Vijaykumar',
       'Younis Khan', 'D Salunkhe', 'T Taibu', 'RR Sarwan', 'VRV Singh',
       'U Kaul', 'S Chanderpaul', 'D Kalyankrishna', 'MA Khote',
       'SB Joshi', 'DS Lehmann', 'AA Noffke'], dtype=object)

In [18]:
ball_by_ball_df["batter"] = [text.strip() for text in ball_by_ball_df["batter"]]  ## remove spaces

In [19]:
ball_by_ball_df["batter"] = [text.lower() for text in ball_by_ball_df["batter"]]  ## everything in lowercase

In [20]:
ball_by_ball_df["batter"].nunique()

605

##### bowler

In [21]:
ball_by_ball_df["bowler"].nunique()

472

In [22]:
ball_by_ball_df["bowler"] = [text.strip() for text in ball_by_ball_df["bowler"]]  ## remove spaces

In [23]:
ball_by_ball_df["bowler"] = [text.lower() for text in ball_by_ball_df["bowler"]]  ## everything in lowercase

In [24]:
ball_by_ball_df["bowler"].nunique()

472

##### non-striker

In [25]:
ball_by_ball_df.rename(columns={"non-striker": "non_striker"}, inplace=True)  ## rename the column

In [26]:
ball_by_ball_df["non_striker"].nunique()

595

In [27]:
ball_by_ball_df["non_striker"] = [text.strip() for text in ball_by_ball_df["non_striker"]]  ## remove spaces

In [28]:
ball_by_ball_df["non_striker"] = [text.lower() for text in ball_by_ball_df["non_striker"]]  ## everything in lowercase

In [29]:
ball_by_ball_df["non_striker"].nunique()

595

##### extra-types

In [30]:
ball_by_ball_df["extra_type"].value_counts()

extra_type
wides      7025
legbyes    3531
noballs     908
byes        583
penalty       2
Name: count, dtype: int64

In [31]:
ball_by_ball_df["extra_type"].isnull().sum()

213905

In [32]:
ball_by_ball_df["extra_type"] = ball_by_ball_df["extra_type"].fillna("noextra") ## filling the NaN value with no extra type value

In [33]:
ball_by_ball_df["extra_type"].value_counts()

extra_type
noextra    213905
wides        7025
legbyes      3531
noballs       908
byes          583
penalty         2
Name: count, dtype: int64

##### 	batsman_run

In [34]:
ball_by_ball_df["batsman_run"].unique()

array([0, 1, 4, 6, 3, 2, 5])

In [35]:
ball_by_ball_df["batsman_run"].value_counts() ## OK

batsman_run
0    90778
1    83928
4    25500
2    14313
6    10666
3      708
5       61
Name: count, dtype: int64

##### extras_run

In [36]:
ball_by_ball_df["extras_run"].unique()

array([0, 1, 5, 4, 2, 3, 7])

In [37]:
ball_by_ball_df["extras_run"].value_counts() ## OK

extras_run
0    213905
1     10760
2       499
4       436
5       275
3        78
7         1
Name: count, dtype: int64

##### total_run

In [38]:
ball_by_ball_df["total_run"].unique()

array([0, 1, 4, 6, 3, 2, 5, 7])

In [39]:
ball_by_ball_df["total_run"].value_counts() ## OK

total_run
1    93861
0    79253
4    25828
2    15065
6    10603
3      836
5      444
7       64
Name: count, dtype: int64

##### non_boundary

In [40]:
ball_by_ball_df["non_boundary"].unique()

array([0, 1])

In [41]:
ball_by_ball_df["non_boundary"].value_counts() ## OK

non_boundary
0    225933
1        21
Name: count, dtype: int64

##### isWicketDelivery

In [42]:
ball_by_ball_df["isWicketDelivery"].unique()

array([0, 1])

In [43]:
ball_by_ball_df["isWicketDelivery"].value_counts() ## OK

isWicketDelivery
0    214803
1     11151
Name: count, dtype: int64

##### player_out

In [44]:
ball_by_ball_df["player_out"].nunique()

573

In [45]:
ball_by_ball_df["player_out"].isnull().sum()

214803

In [46]:
ball_by_ball_df["player_out"] = ball_by_ball_df["player_out"].fillna("noplayerout") ## filling the NaN value with no player out value

In [47]:
ball_by_ball_df["player_out"] = [text.strip() for text in ball_by_ball_df["player_out"]]  ## remove spaces

In [48]:
ball_by_ball_df["player_out"] = [text.lower() for text in ball_by_ball_df["player_out"]]

##### kind

In [49]:
ball_by_ball_df["kind"].unique()

array([nan, 'caught', 'caught and bowled', 'run out', 'bowled', 'stumped',
       'lbw', 'hit wicket', 'retired hurt', 'retired out',
       'obstructing the field'], dtype=object)

In [50]:
ball_by_ball_df["kind"].isnull().sum()

214803

In [51]:
ball_by_ball_df["kind"].value_counts()

kind
caught                   6837
bowled                   1944
run out                  1007
lbw                       685
stumped                   325
caught and bowled         323
hit wicket                 14
retired hurt               13
obstructing the field       2
retired out                 1
Name: count, dtype: int64

In [52]:
ball_by_ball_df["kind"] = ball_by_ball_df["kind"].fillna("nokind") ## filling the NaN value with nokind value

In [53]:
ball_by_ball_df["kind"] = [text.strip() for text in ball_by_ball_df["kind"]]  ## remove spaces

In [54]:
ball_by_ball_df["kind"] = [text.lower() for text in ball_by_ball_df["kind"]]

##### fielders_involved

In [55]:
ball_by_ball_df["fielders_involved"].nunique()

535

In [56]:
ball_by_ball_df["fielders_involved"].isnull().sum()

217966

In [57]:
ball_by_ball_df["fielders_involved"] = ball_by_ball_df["fielders_involved"].fillna("nofieldersinvolved") ## filling the NaN value with no fileder involved value

In [58]:
ball_by_ball_df["fielders_involved"] = [text.strip() for text in ball_by_ball_df["fielders_involved"]]  ## remove spaces

In [59]:
ball_by_ball_df["fielders_involved"] = [text.lower() for text in ball_by_ball_df["fielders_involved"]]

In [60]:
ball_by_ball_df["fielders_involved"].value_counts()

fielders_involved
nofieldersinvolved    217966
ms dhoni                 196
kd karthik               182
ab de villiers           141
rv uthappa               133
                       ...
ts mills                   1
vg arora                   1
pn mankad                  1
anmolpreet singh           1
nj maddinson               1
Name: count, Length: 536, dtype: int64

##### BattingTeam

In [61]:
ball_by_ball_df["BattingTeam"].unique()

array(['Rajasthan Royals', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Daredevils', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Rising Pune Supergiants', 'Pune Warriors',
       'Deccan Chargers', 'Kochi Tuskers Kerala'], dtype=object)

In [62]:
ball_by_ball_df["BattingTeam"] = [text.strip() for text in ball_by_ball_df["BattingTeam"]]  ## remove spaces

In [63]:
ball_by_ball_df["BattingTeam"] = [text.lower() for text in ball_by_ball_df["BattingTeam"]]

In [64]:
ball_by_ball_df["BattingTeam"].value_counts()

BattingTeam
mumbai indians                 27826
royal challengers bangalore    26512
kolkata knight riders          26192
chennai super kings            25128
rajasthan royals               22777
kings xi punjab                22646
delhi daredevils               18786
sunrisers hyderabad            18196
deccan chargers                 9034
delhi capitals                  7587
pune warriors                   5443
gujarat lions                   3566
punjab kings                    3388
gujarat titans                  1971
rising pune supergiant          1900
lucknow super giants            1840
kochi tuskers kerala            1582
rising pune supergiants         1580
Name: count, dtype: int64

# see the new dataframe

In [71]:
ball_by_ball_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non_striker        225954 non-null  object
 7   extra_type         225954 non-null  object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         225954 non-null  object
 14  kind               225954 non-null  object
 15  fielders_involved  225954 non-null  object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [73]:
ball_by_ball_df.describe()

,ID,innings,overs,ballnumber,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery
count,2.259540e+05,225954.000000,225954.000000,225954.000000,225954.000000,225954.000000,225954.00000,225954.000000,225954.000000
mean,8.320470e+05,1.483868,10.185679,3.619750,1.243523,0.066907,1.31043,0.000093,0.049351
std,3.379542e+05,0.503104,5.681797,1.810633,1.618166,0.341470,1.60605,0.009640,0.216600
min,3.359820e+05,1.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,5.012620e+05,1.000000,5.000000,2.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,8.297370e+05,1.000000,10.000000,4.000000,1.000000,0.000000,1.00000,0.000000,0.000000
75%,1.178395e+06,2.000000,15.000000,5.000000,1.000000,0.000000,1.00000,0.000000,0.000000
max,1.312200e+06,6.000000,20.000000,10.000000,6.000000,7.000000,7.00000,1.000000,1.000000